
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.text-primariy{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.secondary-bg{
    background-color: #FFF8F3;
}
.h3-title{
    font-size: 35px;
    font-weight: bold;
    margin: 4px 0;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: 700;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}


/* Nav Style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;    
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* header style */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}


/* banner style */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px 0 200px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
    margin: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
    margin: 0;
}
.banner-content{
    width: 585px;
}
.banner img{
    width: 584px;
}

/* Main section styles */

.main{
    max-width: 1140px;
    border-radius: 10px;
    margin: 0 auto;
}
.about-section{
    padding: 130px 150px;
    margin-top: 130px;
    margin-bottom: 130px;  
}
.about-container{
    background-color: white;
    width: 830px;
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-title{
    color: #757575;
    font-size: 20px;
    margin: 0;
}
.item-description{
    color: #474747;
    font-size: 20px;
    font-weight: bold;
    margin-top: 1px;    
}
.about-description{
    font-size: 18px;
}

/* Skills section */

.skills > div > .h3-title{
    text-align: center;
}
.skill-description1{
    font-size: 18px;
    color: #757575;
    text-align: center;
}
.skills-container{
    margin-top: 50px;
    display: flex;
    gap: 10px;
}
.mainskill-div{
    margin-bottom: 100px;
}
.skill{
    width: 267px;
    box-shadow: 0 0 20px rgba(194, 194, 198, 0.276);
    border-radius: 4px;   
    width: 267px;
    padding: 30px 33px 30px 27px;
}
.skill-title{
    font-size: 20px;
}
.skill-description{
    font-size: 16px;
    color: #757575;
    text-align: left;
    line-height: 30px;
}

/* Resume section style */
.Resume-section{
    text-align: center;
    margin-bottom: 113px;
}
hr{
    margin: 9px 0;
}
.resume-container{
    display: flex;
    text-align: left;
    justify-content: space-around;
    gap: 24px;
    margin-bottom: 50px;
}
.Resume-section > h2{
    font-size: 35px;
    margin-bottom: 100px;
}
.resume-div{
    margin-bottom: 30px;
}
.resume-title{
    font-size: 26px;
}
.resume-heading{
    font-size: 25px;
    color: #474747;
    margin: 0;
    margin-bottom: 10px;
}
.resume-subheading{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin: 0;
}
.resume-description{
    font-size: 16px;
    color: #757575;
}

/* Footer section styles */
.footer-section{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 130px 230px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea {
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    border: none;
    margin-bottom: 24px;    
}
form{
    margin-top: 28px;
}